$header-background: rgba(122, 122, 122, 0.15);
$black: black;
$white: white;
$border-input-color: #7a7a7a;
$contrast-color: #0c70f2;
$border-background-card: #b7b7b7;
$family: 'Raleway;';
$button-color: #0C70F2; 
$input-color: #616161;
$background-hover: #00a6ffae; 