@use '../../Sass/_Variables.scss' as *;

.headerMenu {
    display: grid;
    grid-auto-flow: column;
    ul {
        display: grid;
        grid-auto-flow: column;
        gap: 80px;
        margin: -85px 300px ;
        width: 116px;
        height: 23px;
        flex-shrink: 0;
        list-style: none;
        font-size: 22px;
        cursor: pointer;

    }
    a {
        text-decoration: none;
        color: black;
    }
    li:hover {
        color: grey;
        border-bottom: 0.5px solid grey;
        transform: translateY(-3px);
        transition-duration: 0.5s;
    }
    h2 {
        margin-left: 40em;
        margin-top: -90px;
        color: #000;
        font-family: Raleway;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;

    }
    img {
        width: 33px;
        height: 33px;
        flex-shrink: 0;
        margin-top: -95px;
        margin-right: 100px;

    }
    img:hover {
        cursor: pointer;
        transform: translatey(-2px);
    }
}